/* STYLING FOR IMAGES */
.imgbox {
 display: grid;
 height: 100%; 
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
 }
img.float_text_left {
  float: left;
  clear: none;
  margin: 15px;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: relative;
}

/* STYLING FOR TAGS */
p {
  font-size: 125%;
}

html, body {
  height: 100vh;
  width: 100vw;
}
.wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
h1,h4 {
  text-align: center;
  color: rgb(32, 85, 129)
}
body {
  background-color: rgb(160, 203, 222)
}
.footer
{
    background-color:rgb(32, 85, 129);
    position: relative;
    width: 100%;
    clear:both;
}
/* STYLING FOR CONTAINERS */
.col-md-12 {
  background-color: white;
  padding-left: auto;
  padding-top: 10px;
  padding-right: auto;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px
  }

/* STYLING FOR THE NAVBAR*/
ul.nav a:hover { 
  color:gray !important; 
}
.navbar-nav > li{
  padding-left:auto;
  padding-right:10px;
  margin-left:auto;
  margin-right:10px;
}
.navbar, .navbar-nav, .navbar-header {
  background-color:rgb(32, 85, 129)
}
.icon-bar {
  background-color:white;
  color: white;
}